.h2s{
    font-family: $font;
    font-weight: bolder;
    @include flexbox(row, center);
    padding: 20px;
}

.card-grid-carrera-m{
    margin: 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'img descrip descrip'
    'img descrip descrip';
    gap:5px;
    background-color: rgb(147, 114, 197);
    box-shadow: 10px 10px 20px 4px rgb(56, 55, 55);

    img{
        grid-area: img;
        @include imagenes(550px, 350px, cover);
    }

    p{
        padding: 18px;
        grid-area: descrip;
        font-family: $font;
        font-size: 21px;
        color: $main-color;
    }

    &:hover{
        box-shadow: 0px 0px 50px 0px $main-color;
        transition: 1s;
    }
}


