.nombre{
    padding: 12px;

    label{
        font-family: $font;
        font-size: 23px;
        color: $main-color;
    }

    input{
        font-family: $font;
        font-size: 23px;
        border-radius: 3px;
    }
}

.apellido{
    padding: 12px;

label{
    font-family: $font;
    font-size: 23px;
    color: $main-color;
}

input{
    font-family: $font;
    font-size: 23px;
    border-radius: 3px;
}
}

.edad{
    padding: 12px;

    label{
        font-family: $font;
        font-size: 23px;
        color: $main-color;
    }

    input{
        font-family: $font;
        font-size: 23px;
        border-radius: 3px;
    }
}

.mail{
    padding: 12px;

    label{
        font-family: $font;
        font-size: 23px;
        color: $main-color;
    }

    input{
        font-family: $font;
        font-size: 23px;
        border-radius: 3px;
    }
}

.contraseña{
    padding: 12px;

    label{
        font-family: $font;
        font-size: 23px;
        color: $main-color;
    }

    input{
        font-family: $font;
        font-size: 23px;
        border-radius: 3px;
    }
}

.comentario{
    padding: 12px;

    label{
        font-family: $font;
        font-size: 23px;
        color: $main-color;
    } 
}

.comen{
    padding: 12px;
    font-family: $font;
    font-size: 23px;
    border-radius: 3px;
}

.botones{
    padding: 12px;
    font-size: 23px;
    font-family: $font;
}